html {
  height: 100%;
  width: 100%;
  background-color: #0E1525;
}

p {
  margin:auto;
  font-size: 10px;
  margin:0px;
  padding:0px;
  margin-bottom: 2px;
  margin-top:10px;
  font-family: Verdana;
  font-weight: bold;
  color: #ebebeb;
}

button {
  margin-right: 7px;
  margin-left: 7px;
  margin-top:4px;
  margin-bottom: 4px;
  border-radius: 4px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  border: none;
  color: black;
  background-color: #f4f4f4;
  font-family: Verdana;
  
}

#input {
  text-align:center;
  margin: auto;
  height: 100%;
  
  background-color: #0E1525;;
}

#viewSelectorContainer {
  text-align:center;
  margin: auto;
  padding-top: 5px;
  margin-bottom: 0px;
}

input {
  background-color: #ebebeb;
  border: none;
  color: #231651;
  margin-left:5px;
  margin-right:5px;
  margin-top:2px;
}

select {
  color: #0E1525;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width:8px;
  height:8px;
  margin:9px;
  padding:9px;
  border-radius:0px;
  background-color:#231651;
}

input[type='checkbox']:checked {
 background-color: var(--color);
}

h2 {
  color: white;
  padding: 0px;
  margin: 0px;
  margin-top: 15px;
}